body{
    margin:0;
	padding:0;
    font-family:Arial, sans-serif;
    background:black;
    color:white;
    text-align:center;
}

nav{
	width:85%;
	margin:auto;
	display:flex;
    background:none;
    padding:15px;
	justify-content:space-between;
	padding-top:25px;


	
	
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
	
	
}
a:hover{
	background-color:lightgray;
	
}

button:hover{
	background-color:lightgray;
	
}
 ul li{
	list-style:none;
	display:inline-block;
	margin:0 20px;
}
nav ul li a{
	text-decoration:none;
	color:white;
	text-transform:uppercase;
	justify-content:center;
}

.logo{
	justify-content:right;
    width:80px;
	border-radius:50px;
	border:3px solid white;
}

.hero{
    height:120vh;
    background-image:
    linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url("backgroundimage.jpeg");

    background-size:cover;
    background-position:center;
	background-repeat:no-repeat;
    display:flex;
	flex-direction:column;
    justify-content:center;
   
}

.hero h1{
    font-size:70px;
    color:#00bfff;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:20px;
    background:#a51adb;
    color:white;
    cursor:pointer;
    margin:10px;
	justify-content:center;
}

table{
    margin:auto;
    border-collapse:collapse;
    width:70%;
}

table,th,td{
    border:1px solid white;
}

th,td{
    padding:10px;
}

form{
    width:50%;
    margin:auto;
}

input,textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
}

footer{
    background:#0d000b;
    padding:10px;
}

.about{
	width:600px;
	margin:100px auto;
	padding:50px;
	border-radius:10px;
	border:1px solid #ccc;
	font-size:20px;
}
.background{
	background-image:url("backgroundimage.jpeg")
}
	
.social-icons img{
	width:30px;
	height:30px;
	margin-left:10px;
	border-radius:50px;
}
.table-style table tr th{
	background-color:#37f707;
}

.aboutBackground{
	height:120vh;
    background-image:
    linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url("backgroundimage.jpeg");

    background-size:cover;
    background-position:center;
	background-repeat:no-repeat;
}
.bottom-section{
    display:flex;
    gap:30px;
    margin-top:40px;
}

.channel-stats{
    flex:1;
}

.connect{
    flex:1;
}

.stats-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
}

.card{
    padding:20px;
    border:2px solid #0f021c;
    border-radius:10px;
}
.connect {
	width:200px;
	margin:100px auto;
	padding:50px;
	border-radius:10px;
	border:2px solid #2207ab;
	font-size:20px;
}
.channel-stats{
	width:200px;
	margin:100px auto;
	padding:50px;
	border-radius:10px;
	border:2px solid #2207ab;
	font-size:20px;
}
.footer-content{
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    color: white;
}

.connect-background{
    background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("connectimg.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.video-grid{
	display:flex;
	 flex-direction: row;
    gap: 20px;
    justify-content: center;
}